@model bool

@{
    ViewData["Title"] = "Home Page";
}
<p>
Welcome to our page! Please log in in order to use capabilities of this page:
</p>

<form method="post">
    Login: 
    <input name="loginName" type="text" /> <br/>
    Password: 
    <input name="passwordInput" type="password" /><br/>
    <input type="submit" value="Log in" />
    <script>
        alert("hello world");
        var model = Model;
        handleLogin();
    </script>
</form>