<script>
    @*Tutaj wczytujemy dane z ktnotrolera.
        *@
    hostUrl = '@Url.Action("AuthenticateUser","Home")';
</script>

@{
  ViewData["Title"] = "Home Page";
}
<p>
    Welcome to our page! Please log in in order to use capabilities of this page:
</p>

Login: 
<input name="loginName" type="text" /> <br/>
Password: 
<input name="passwordInput" type="password" /><br/>    
<button id="authBtn" onclick="handleLogin()" value="Get message"></button>
