.myClass1 {
    color:aqua;
}

.myClass2 {
    background-color: red;
}

.city {
    background-color: tomato;
    color: white;
    padding: 10px;
} 

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table#t01 {
    width: 100%;
}

table#t01 tr:nth-child(even) {
    background-color: lawngreen;
}

table#t01 tr:nth-child(odd) {
    background-color: #d3f209;
}

table#t01 th {
    color: white;
    background-color: black;
}

p#p01{
    color: blue;
}

#p02{
    color: red;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}*/

li {
    float: left;
}

/*li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}*/

