html, body{
	height: 100%;
}
#divsContainer {
	width: 100%;
	height: 100%;
	background: lightgray;
}
#leftDiv {
	width: 60%;
	height: 100%;
	background: lightblue;
	display: inline-block;
	vertical-align: top;
}
#rightDiv {
	width: 30%;
	height: 100%;
	background: lightgreen;
	display: inline-block;
}