body {
    background: gray;
}

#chat > div > span {
    border: 0.01em solid black;
    margin: 1% 0;
    padding: 1%;
    width: auto;
    max-width: 70%;
    display: inline-block;
    overflow-wrap: break-word;
}

#chat {
    margin: 1%;
    height: 80vh;
    overflow-y: scroll;
    background: lightgray;
}

#chat > .sent-message {
    text-align: right;
}

#chat > .sent-message > span {
    background: lightblue;
}

#chat > .received-message > span {
    background: white;
}

@media (min-width: 400px) {
    #chat-screen {
        width: 70%;
    }
}

#messageForm {
    height: 10%;
}

#messageForm > input {
    width: 75%;
}

#messageForm > button {
    width: 20%;
}