body {
    background: gray;
}

#chat > div > span {
    border: solid 0.05em black;
    margin: 1%;
    padding: 1%;
    width: auto;
    max-width: 70%;
    display: inline-block;
    overflow-wrap: break-word;
}

#chat {
    margin: 1% 1% 1% 0;
    height: 80vh;
    overflow-y: scroll;
    background: lightgray;
}

#chat > .sent-message {

    text-align: right;
}

#chat > .sent-message > span {
    border-radius: 1em 0 1em 1em;
    background: lightblue;
}

#chat > .received-message > span {
    border-radius: 0 1em 1em 1em;
    background: white;
}

@media (min-width: 400px) {
    #chat-screen {
        width: 70%;
        display: inline-block;
        vertical-align: top;
    }
    #users-list {
        width: 25%;
        display: inline-block;
    }
}

#messageForm {
    height: 10%;
}

#messageForm > input {
    width: 75%;
}

#messageForm > button {
    width: 20%;
}

.active-user {
    height: 0.5em;
    width: 0.5em;
    background: green;
    border-radius: 50%;
}

#users-list tr:hover {
    background: lightgray;
}