
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/MessagesHandler.js"></script>
</head>
<body>
    <ul id="chat">
    </ul>
    <input id="message" type="text" />
    <button onclick="SendMessage()">Send</button>
</body>
</html>
