@model WebGame.Models.UserWrapper
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat</title>

    <link rel="stylesheet" href="~/css/chat.css"/>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/initSignalR.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/chatHandler.js"></script>
</head>
<body>
    <h1>Rozmowa z @Model.FullName (@Model.Login)</h1>
    <div id="chat-screen">
        <div id="chat"></div>
        <div id="messageForm">
            <input id="message" type="text" />
            <button onclick="sendMessage('@Model.Login')" id="btnSend">Send</button>
        </div>
    </div>
</body>
</html>
