@model WebGame.Models.UserWrapper
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat</title>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/InitSignalR.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/MessagesHandler.js"></script>
</head>
<body>
    <h1>Rozmowa z @Model.FullName (@Model.Login)</h1>
    <div id="chat">
    </div>
    <input id="message" type="text" />
    <button onclick="sendMessage('@Model.Login')" id="btnSend" >Send</button>
</body>
</html>
