@model IEnumerable<WebGame.Models.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="charset" value="utf-8" />
    <title>Chat</title>

    <link rel="stylesheet" href="~/css/chat.css" />
</head>
<body>
    <div id="chat-screen">
        <div class="messages-screen">
            <div id="conversation-information">WYBIERZ UŻYTKOWNIKA DO ROZMOWY</div>
        </div>
        <div id="message-form">
            <input id="message-text" type="text" />
            <button onclick="sendMessage()" id="send-message">Send</button>
        </div>
    </div>
    <div id="users-list">
        <table>
            @foreach (var item in Model)
            {
                <tr id="@item.Id" onclick="startConversationWithUser(@item.Id)">
                    <td>
                        @if ((ViewBag.ConnectedUsers as int[]).Contains(item.Id))
                        {
                            <div class="active-user-mark"></div>
                        }
                    </td>
                    <td>
                        @($"{item.FirstName} {item.LastName} ({item.Login})")
                    </td>
                </tr>
            }
        </table>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/initSignalR.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/chatHandler.js"></script>
</body>
</html>
