
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat</title>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/MessagesHandler.js"></script>
</head>
<body>
    <ul id="chat">
    </ul>
    <input id="sendTo" type="text" />
    <button onclick="setChatRoom()">Set chat room</button>

    <input id="message" type="text" disabled/>
    <button onclick="sendMessage()" id="btnSend" disabled>Send</button>
</body>
</html>
